<div id="graph-container">
    <div class="row mt-2">
        {% include "components/_preso_metrics.html" %}
    </div>
    <div class="row">
        <div class="col-6">{{ graph_html|safe }}</div>
        <div class="col-6">{{ graph_html2|safe }}</div>
    </div> 
    <div class="row">
        <div class="col-4">{{ graph_html3|safe }}</div>
        <div class="col-8">{{ graph_html4|safe }}</div>
    </div>   
    <div class="row">
        <div class="col-6">{{ graph_html5|safe }}</div>
    </div>   
</div>