<div class="card mt-4">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-primary">
                    <div class="card-body">
                        <h5 class="card-title">Nº de Presos cadastrados</h5>
                        <p class="card-text font-weight-bold display-6">{{n_presos}}</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card bg-danger">
                    <div class="card-body">
                        <h5 class="card-title">Nº de Ofícios cadastrados</h5>
                        <p class="card-text font-weight-bold display-6">{{n_oficios}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>