<form id="gerarRelatorioForm" action="{% url 'gerar_pdf' %}" method="get">
    <div class="input-group">
        <div>
            <label >Destinatário:</label>
            <input type="text" class="form-control" name="dest" value="{{ request.GET.dest }}" placeholder="Digite o código." maxlength="10"> 

        </div>
        <div>
            <label>Senha do Documento:</label>
            <input type="text" class="form-control" name="senha" value="{{ request.GET.senha }}" placeholder="Digite a senha."> 
        </div>
    </div>
    <button class="btn btn-danger mt-3" type="submit" data-bs-dismiss="modal"><i class="bi bi-send-arrow-down"></i> Enviar</button>
  </form>