{% extends "base.html" %}

{% block title %}
    Relatório
{% endblock title %}

{% block content %}
<div class="container-fluid mt-5 align-content-center">
  <!-- Filtros -->
   <h3>Relatórios</h3>
   <form  method="get" action="{% url 'presos_detail' %}">
     <div class="row mb-3">
       
       <div class="input-group">
         <div class="col- form-control ms-0 p-0">
           <label class="ms-1">Nº do Prontuário</label>
           <input class="form-control" type="text" name="n_pront" value="{{ request.GET.n_pront }}">          
         </div>
         <div class="col- form-control ms-0 p-0">
           <label class="ms-1">Nº Ofcio</label>
           <input class="form-control" type="text" name="n_oficio" value="{{ request.GET.n_oficio }}">          
         </div>
         <div class="col form-control ms-0 p-0 ">
           <label class="ps-1">Nº SEI</label>
           <input class="form-control" type="text" name="n_sei" value="{{ request.GET.n_sei }}">
         </div>
         <div class="col form-control ms-0 p-0 ">
           <label class="ps-1">Data Incial</label>
           <input class="form-control" type="date" name="date_send1" id="" value="{{request.GET.date_send1}}" placeholder="Data Início">
         </div>
         <div class="col form-control ms-0 p-0 ">
           <label class="ps-1">Data Final</label>
           <input class="form-control" type="date" name="date_send2" id="" value="{{request.GET.date_send2}}" placeholder="Data Início">
         </div>
         <div class="col form-control ms-0 p-0">
           <label class="ps-1">Tipo de Prisão</label>
           <select class="form-select" aria-label="Default select example" name="tipo_prisao">
             <option value='' {% if not request.GET.tipo_prisao %}selected{% endif %}></option>
             <option value="ABERTA" {% if request.GET.tipo_prisao == "ABERTA" %}selected{% endif %}>Aberta</option>
             <option value="FECHADA" {% if request.GET.tipo_prisao == "FECHADA" %}selected{% endif %}>Fechada</option>
             <option value="SEMIABERTA" {% if request.GET.tipo_prisao == "SEMIABERTA" %}selected{% endif %}>Semiaberta</option>
             <option value="HARMONIZADA" {% if request.GET.tipo_prisao == "HARMONIZADA" %}selected{% endif %}>Harmonizada</option>
             <option value="TEMPORARIA" {% if request.GET.tipo_prisao == "TEMPORARIA" %}selected{% endif %}>Temporária</option>
             <option value="PREVENTIZA" {% if request.GET.tipo_prisao == "PREVENTIZA" %}selected{% endif %}>Preventiva</option>
             <option value="OUTROS" {% if request.GET.tipo_prisao == "OUTROS" %}selected{% endif %}>Outros</option>
         </select>
         
         </div>
         
       </div>      
       
       <div class="row mt-2">
         <div class="col d-flex justify-content-start ms-1">
          <button type="submit" class="btn btn-primary float-end">
            <i class="bi bi-eye"></i> Visualizar
          </button>
          <a href="" class="btn btn-info float-start" style="margin-left: 10px;">
            <i class="bi bi-file-earmark-text"></i> Relatório
          </a>
         </div>
       </div>    
     </div>
   </form> 
  

  <!-- table -->
  
  <!-- Modal Detail-->
  <div class="modal fade mt-5 modal-xl" id="ModalOficioDetail3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div id="detailcontent" class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ficha do Prisioneiro</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ....
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modalteste"></div>

{% endblock content %}

