{% extends "base.html" %}

{% block title %}
    Relatório
{% endblock title %}

{% block content %}
<div class="container-fluid mt-5 align-content-center">
  <!-- Filtros -->
  <form action="{% url 'oficios_list' %}" method="get">
    <div class="row mb-3">
      
      <div class="input-group">
        <div class="col- form-control ms-0 p-0">
          <label class="ms-1">Nº do Prontuário</label>
          <input class="form-control" type="text" name="n_pront" value="{{ request.GET.n_pront }}">          
        </div>
        <div class="col- form-control ms-0 p-0">
          <label class="ms-1">Nº Ofcio</label>
          <input class="form-control" type="text" name="n_oficio" value="{{ request.GET.n_oficio }}">          
        </div>
        <div class="col form-control ms-0 p-0 ">
          <label class="ps-1">Nº SEI</label>
          <input class="form-control" type="text" name="n_sei" value="{{ request.GET.n_sei }}">
        </div>
        <div class="col form-control ms-0 p-0 ">
          <label class="ps-1">Data Incial</label>
          <input class="form-control" type="date" name="date_send1" id="" value="{{request.GET.date_send1}}" placeholder="Data Início">
        </div>
        <div class="col form-control ms-0 p-0 ">
          <label class="ps-1">Data Final</label>
          <input class="form-control" type="date" name="date_send2" id="" value="{{request.GET.date_send2}}" placeholder="Data Início">
        </div>
        <div class="col form-control ms-0 p-0">
          <label class="ps-1">Tipo de Prisão</label>
          <select class="form-select" aria-label="Default select example" name="tipo_prisao">
            <option value='' {% if not request.GET.tipo_prisao %}selected{% endif %}></option>
            <option value="ABERTA" {% if request.GET.tipo_prisao == "ABERTA" %}selected{% endif %}>Aberta</option>
            <option value="FECHADA" {% if request.GET.tipo_prisao == "FECHADA" %}selected{% endif %}>Fechada</option>
            <option value="SEMIABERTA" {% if request.GET.tipo_prisao == "SEMIABERTA" %}selected{% endif %}>Semiaberta</option>
            <option value="HARMONIZADA" {% if request.GET.tipo_prisao == "HARMONIZADA" %}selected{% endif %}>Harmonizada</option>
            <option value="TEMPORARIA" {% if request.GET.tipo_prisao == "TEMPORARIA" %}selected{% endif %}>Temporária</option>
            <option value="PREVENTIZA" {% if request.GET.tipo_prisao == "PREVENTIZA" %}selected{% endif %}>Preventiva</option>
            <option value="OUTROS" {% if request.GET.tipo_prisao == "OUTROS" %}selected{% endif %}>Outros</option>
        </select>
        
        </div>
        
      </div>      
      
      <div class="row mt-2">
        <div class="col d-flex justify-content-start ms-1">
          <button type="submit" class="btn btn-primary float-end " style="margin-right: 10px;">
            <i class="bi bi-search"></i> Pesquisar
          </button>
          <a href="{% url 'oficios_add' %}" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Adicionar Oficios
          </a>
        </div>
      </div>    
    </div>
  </form>
  
  <!-- Button trigger modal -->
  

  
  

  <!-- table -->
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-sm table-hover w-100">
      <thead class="thead-dark">
        <tr>
          <th>Nº Ofício</th>
          <th>Nº do SEI</th>
          <th>Data</th>
          <th>Tipo de Prisão </th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody id="tablelistbody">
        {% for oficio in oficios %}
          <tr>
            <td>{{ oficio.n_oficios }}</td>
            <td>{{ oficio.n_sei }}</td>
            <td>{{ oficio.date_send|date:"d/m/Y" }}</td>
            <td>{{ oficio.tipo_prisao }}</td>
            <td>
              <a href="#" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#ModalOficioDetail" hx-get="{% url 'oficios_detail' oficio.id %}" hx-target="#detailcontent">
                <i class="bi bi-eye-fill"></i>
              </a>
              
              <a href="{% url 'oficios_update' oficio.id %}" class="btn btn-warning btn-sm">
                <i class="bi bi-pencil-fill"></i>
              </a>
              <a href="{% url 'oficios_delete' oficio.id %}" class="btn btn-danger btn-sm">
                <i class="bi bi-trash-fill"></i>
              </a>
            </td>
          </tr>
        
        {% endfor %}
      </tbody>
    </table>
  </div> 
  
  <!-- Modal Detail-->
  <div class="modal fade mt-5 modal-xl" id="ModalOficioDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div id="detailcontent" class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Detalhe do Ofício</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          ... 
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modalteste"></div>

{% endblock content %}

